@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

body {
    background-color: rgb(131, 206, 206);
    margin: 25px;
}

span {
    display: flex;
    justify-content: center;
    text-align: center;
}

.player2 {
    margin:5px
}

h1 {
    text-align: center;
    color: black;
    box-shadow: 1px 1px 5px 1px black;
    margin: 12px;
    background-color: white;
}

.pO, .pX {
    text-align: center;
}

#gameBoard {
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
}

.box {
    border: 1px solid white;
    display: flex;
    width: 75px;
    height: 75px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 50px;
}

.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
    border-top: none;
}

.box:nth-child(3n + 1) {
    border-left: none;
}

.box:nth-child(3n + 3) {
    border-right: none;
}

.box:last-child,
.box:nth-child(8),
.box:nth-child(7) {
    border-bottom: none;
}

.bottomLine {
    text-align: center;
    margin: 50px;
}

.displayMessage {
    font-size: 25px;
    color: white;
}

.resetButton {
    margin: 25px;
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 1px black;
    font-size: 20px;
    cursor: pointer;
}

